body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-inputs {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-inputs .form-control:focus {
  z-index: 2;
}
.form-inputs input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 10px;
}

h2 {
    text-align: center;
}
